# URL base da API local
API_BASE_URL=http://localhost:2000
FIRECRAWL_API_KEY=fc-EXEMPLO_API_KEY
PORT_DEFAULT=2000
SUPABASE_DB_PASS=EXEMPLO_SENHA
SUPABASE_URL=https://EXEMPLO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=EXEMPLO_SERVICE_ROLE_KEY
SUPABASE_BUCKET_PRODUTOS=produtos

# Gemini API Configuration
GEMINI_API_KEY=EXEMPLO_GEMINI_API_KEY
GEMINI_MODEL=gemini-2.0-flash

# Google OAuth Configuration
GOOGLE_CLIENT_ID=EXEMPLO_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=EXEMPLO_CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback
GOOGLE_ACCESS_TOKEN=EXEMPLO_ACCESS_TOKEN
GOOGLE_REFRESH_TOKEN=EXEMPLO_REFRESH_TOKEN
GOOGLE_TOKEN_EXPIRY=EXEMPLO_TOKEN_EXPIRY

NODE_ENV=production

#api LLM
GROQ_API_KEY=EXEMPLO_GROQ_API_KEY

#api weaviete

WEAVIATE_HOST=EXEMPLO_WEAVIATE_HOST
API_KEY_WEAVIATE=EXEMPLO_WEAVIATE_API_KEY